# Dependencies
node_modules/

# Build output
dist/
dist-ssr/
build/
coverage/

# Env files
.env
.env.*
!.env.example

# Logs
logs/
*.log
*.err.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
frontend-dev.log
frontend-dev.err.log
backend-dev.log
backend-dev.err.log

# Misc
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
